
<% @gardens.each do |garden| %>
  <%= garden.name %> <br />
  <%= garden.size %> <br />
  <a href="/gardens/<%=garden.id%>/edit">Edit</a>
  <a href="/gardens/<%=garden.id%>/delete">Destroy Garden</a>
  <br />
  <br />
<% end %>
