<h1>Create a New Flower</h1>

<form action="/flowers" method="POST">
  <label> New Flower </label>
  <input type="text" name="name"> </br>

  <label> Flower Species </label>
  <input type="text" name="species"> </br>

  <input type="submit" value="Breed">
</form>
