<%= @flower.name %><br />
  <%= @flower.species %> <br />
  
  <form action="/flowers/<%=@flower.id%>/edit" method="POST">
  <input type="submit" Value="Redo">
  </form>

  <form action="/flowers" method="POST">
  <input type="submit" Value="Back To Flowers">
  </form>



  <br />
  <br />
