<h1>Edit<%= @flower.name %></h1>

<form action="/flowers/<%=@flower.id%>" method="POST">
  <label> Flower Name </label>
  <input type="text" name="name" value="<%=@flower.name %>"> </br>

  <label> Flower Species </label>
  <input type="text" name="species" value="<%=@flower.species%>"> </br>


  <input type="submit" value="Update">
</form>
