<form action="/thanks" method ='post'>

<h1>Welcome to Planted Earth!<h1>
  <div>
  <p>Planted Earth was founded in the year 2019, with the mission to plant one tree for every person on the planet!</p><br />
  <p>We Believe you can help us meet our goal by 2025!</p>

  <p>So here is the deal, login at the top left and for every flower you purchase we will plant one tree in the world. don't have an account? do not fret, you can signup right now and go ahead!
  </p>

  </div>
 