<form method ='post'>

<h1>Welcome to Planted Earth!<h1>

<h2>Login:</h2>
<label>Username</label>
<input type="text" name="user_name"><br/>

<label>Password:</label>
<input type="text" name="password"><br/>


<input type="submit" value="submit">

</form>
