=begin 
<form action="/thanks" method ='post'>

<h1>Welcome to Planted Earth!<h1>
  <div>
  <p>Planted Earth was founded in the year 2019, with the mission to plant one tree for every person on the planet!</p><br />
  <p>We believe you can help us meet our goal by 2025!<p>
   <label>Its really simple! all you have to do is click this button!</label>
     <input type="submit" value="submit">

</form>
<form action="/login" method='post'>
 <h2>if youd like the planet to die, go ahead and leave!<h2>
   <label>exit</label>
   <input type="submit" value="exit">

 </form >
=end