<h1>Build a New Garden Here</h1>

<form action="/gardens" method="POST">
  <label> Garden Name </label>
  <input type="text" name="name"> <br />

  <label>Garden Size in square feet</label>
  <input type="number" name="size"> <br />

  <input type="submit" value="Build">
</form>
