<h2>Gardeners</h2>


<h3>Sign Up Right here!</h3>
<form action="/signup" method="POST">

  <p><strong>Name:</strong>
  <input type="text" name="username">
  </p>

  <p><strong>Password:</strong>
  <input type="text" name="password">
  </p>

  <input class="btn btn-primary" type="submit">

</form>
