<h2>Gardeners, why dont you go ahead and sign up right here!</h2>

<form action="/signup" method="POST">

  <p><strong>Name:</strong>
  <input type="text" name="username">
  </p>

  <p><strong>Password:</strong>
  <input type="text" name="password">
  </p>

  <input class="btn btn-primary" type="submit">

</form>
