<p> Look upon your wide variety of gardens, <%=@gardener.username %>
  <% @gardener.flower_gardeners.each do |garden| %>
  <ul>
    <li><a href="/gardens/<%=garden.id%>"><%= garden.name %></a></li>
  </ul>
  <% end %>
