<p> Look upon your wide variety of gardens, <%=@gardner.username %>
  <% @gardner.flower_gardners.each do |bag| %>
  <ul>
    <li><a href="/gardens/<%=garden.id%>"><%= garden.name %></a></li>
  </ul>
  <% end %>
