<form action="/thanks" method ='post'>

<h1>Welcome to our lovely website, from 1997!<h1>
  <div>
  <p>Flowers and gardens is a website built so you can crossbreed your very own flower.</p><br />
  <p>We also give you the ability to build and name your own garden to place it in!</p>

  <p>So here is the deal, login at the top left and begin to create. don't have an account? do not fret, you can signup right now and move forward!
  </p>

  </div>
 